/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
}

.signup-container {
  margin: 0 auto;
  width: 60%;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-group-button{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 2rem;
}

.form-label {
  font-weight: bold;
  color: #555;
  flex: 1;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.form-input,
.form-textarea {
  flex: 2; 
  padding: 0.6rem;
  border: 2px solid #8b8b8b;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #3498db;
  outline: none;
}

.form-textarea {
  resize: vertical;
  height: 80px;
}

.signup-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 0.6rem;
  border-radius: 6px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.signup-btn:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .signup-container {
    width: 90%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label {
    text-align: left;
    margin-bottom: 0.3rem;
  }

  .signup-btn {
    padding: 0.75rem;
  }
}
